<div class="w-full h-full">
  <div
    class="relative isolate overflow-hidden bg-gradient-to-b from-transparent to-gray-900 bg-gray-900 h-auto sm:h-300 lg:h-300 ">
    <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
      <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#e96a20] to-[#2b1ed6] opacity-30"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
      </div>
    </div>

    <div class="lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true">
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#f0f1f3] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Convertite en la persona que siempre
            deseaste!</h1>
          <p class="mt-6 text-lg leading-8 text-gray-400">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure
            qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
        </div>
      </div>
      <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true">
        <div
          class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
    </div>

    <div class="flex justify-center px-4 sm:px-6 lg:px-8 mb-32">
      <div class="relative aspect-w-16 aspect-h-10">
        <div
          class="absolute inset-0 w-[1000px] h-[600px] bg-gradient-to-r from-indigo-600 to-purple-400 rounded-lg blur-lg opacity-40">
        </div>
        <iframe class="relative w-[1000px] h-[600px] rounded-lg" src="https://www.youtube.com/embed/PSDRP53YX2M"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>


    <!-- About me -->
    <div class="mx-auto max-w-2xl mb-20">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Sobre mi</h1>
      </div>
    </div>

    <div class="mx-auto flex justify-center w-[800px] mb-32">
      <ol class="relative border-s border-gray-200 dark:border-gray-700">

        <li class="ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </span>
          <h3 class="mb-1 text-lg font-semibold text-white dark:text-white">2019 a 2024 <span
              class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-white dark:text-blue-700 ms-3">Actual</span>
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019 ~ 2024</time>
          <ul class="list-disc m-3 text-gray-400 dark:text-gray-500">
            <li>En estos 5 años mi vida fue una aventura con cambios rotundos.</li>
            <li>Decidí dedicar algunos meses a ser totalmente libre o al menos eso creía en ese momento. Me dediqué a mi
              espiritualidad, aprendiendo parte del budismo y sanando mis heridas desde lo espiritual, lo cual fue un
              refugio temporal de los años anteriores.</li>
            <li>Un tiempo después, me dediqué unos meses al rap y la espiritualidad, sin un centavo en el bolsillo.</li>
            <li>Después de este año, me cuestioné cuál era mi sueño y decidí volver a los videojuegos. Con casi sin
              recursos, intenté armarme un PC, pero la pandemia impidió que hiciera más.</li>
            <li>Para generar ingresos durante la pandemia, me alié con mi hermana en su estética, lo que me llevó a
              aprender grandes habilidades como marketing en redes sociales, administración, y gestión de recursos y
              tiempo.</li>
            <li>Meses después de la post-pandemia, abandoné todo para tomar verdaderamente mi sueño.</li>
            <li>Con ahorros y préstamos, me compré una PC en la cual invertí todo. Después de meses aplicando mi
              conocimiento, creé una comunidad de cientos de personas. Pero nuevamente, la insatisfacción de perseguir
              un sueño sin disfrutar el proceso me llevó a dejarlo.</li>
            <li>En 2021/2022, pasé por una etapa de frustración y desde el ego me dediqué a las criptomonedas, lo que me
              llevó a ganar y perder mucho dinero, endeudándome con miles de dólares.</li>
            <li>Después de años de disgusto y de no encajar en ningún lado, y muy a disgusto pero siempre recordándome
              que en la vida hay un propósito más grande que uno, decidí en 2023 emprender un nuevo camino y mudarme con
              personas conocidas.</li>
            <li>Ahí descubrí una de mis partes oscuras, pasando por frustraciones más profundas y decepciones
              financieras que me llevaron a una gran depresión.</li>
            <li>Meses aún viviendo ahí, realicé cursos de coaching vivencial muy fuertes que me sacaron de mi gran
              depresión, pero generaron un gran desgano y me hacían dormir más de 16 horas al día sin encontrar un
              significado relevante a mi vida. Meses más tarde, después de la famosa noche oscura del alma, decidí
              volver a la casa de mi madre.</li>
            <li>Disgustado, frustrado, en el abandono física, mental y espiritualmente, acudí a Dios y NO por medio de
              una creencia religiosa, sino por una gran conexión de fe.</li>
            <li>Con esto, y ACCION MASIVA en meses pasé de estar en 0 a facturar más de 10,000 dólares. Retomé hábitos
              como la lectura, comer saludable, entrenar y dormir en paz. Entré en armonía entre mi cuerpo, alma y
              mente, revelándose mi verdadero propósito de vida y tomando decisiones desde mi mejor versión.</li>
            <li>Esto me llevó a cerrar etapas y dedicarme a ayudar a otras personas desde la consciencia y a guiarles en
              la vida para lograr vivir una vida con significado desde su mejor versión.</li>
          </ul>
        </li>

        <li class="mb-10 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </span>
          <h3 class="mb-1 text-lg font-semibold text-white dark:text-white">2011 a 2018</h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
            2011 ~ 2018</time>
          <ul class="list-disc m-3 text-gray-400 dark:text-gray-500">
            <li>En esta etapa me di cuenta de que el mundo no iba a ser fácil con una discapacidad y emocionalmente a la
              deriva, me volqué a la calle, lo que me llevó a vivir muchas situaciones que me hicieron crecer
              rápidamente.</li>
            <li>Pasé por 4 colegios porque no me gustaba estudiar y no me adaptaba a los círculos sociales, lo cual me
              llevó más rápidamente a la calle y a consumir alcohol, e ir a fiestas y fumar marihuana desde muy joven.
            </li>
            <li>Dejé el colegio durante 2 años en mi adolescencia y lo retomé 2 años más tarde, por la noche. Lo que me
              salvó en aquel momento, con 15 años, fueron los videojuegos, a los que decidí dedicar mucho tiempo para
              convertirme en un jugador destacado en el área competitiva, logrando un amplio reconocimiento a nivel
              latinoamericano. Meses más tarde, esto se convirtió en frustración porque mis padres no tenían el poder
              económico para respaldar esta actividad en ese momento.</li>
            <li>A los 15 años, después de casi 5 años de desacuerdos entre ellos, mi madre y yo decidimos dejar la casa
              donde nací y mudarnos a un alquiler.</li>
            <li>Pasando por esta etapa y con mis estudios retomados, decidí comenzar a emprender para no depender de mis
              padres financieramente. Empecé vendiendo joyas y alhajas de acero quirúrgico en la calle.</li>
            <li>Con esto perdí rápidamente la vergüenza, pero con malos hábitos acumulados, me gastaba casi todo el
              dinero en fiestas, y en placeres temporales.</li>
            <li>Luego de casi 2 años de limitaciones, no me conformé y abrí mi primer local de ropa con tan solo 17
              años. Además de esto, trabajaba, cursaba el bachillerato, estudiaba cursos de lenguaje en sistemas y
              entrenaba.</li>
            <li>A los 17 años sufrí un pico de estrés que me provocaba malestares y migrañas muy fuertes, al punto de a
              veces dejarme en cama por días. Consecuentemente, sufrí una lesión en mi pierna que me llevó a estar mucho
              tiempo quieto.</li>
            <li>Con el tiempo, retomé el colegio, pero no me sentía a gusto y entré en una crisis existencial muy
              duradera.</li>
            <li>En mi último año de secundaria, tomé la decisión de abandonar el colegio y dedicarme al emprendimiento
              de multinivel que me presentaron.</li>
            <li>Después de 1 año de arduo trabajo, dejé todos mis malos hábitos y descubrí el verdadero sistema
              educativo de inteligencia emocional, financiera y de liderazgo.</li>
            <li>Pero pasado 1 año, no logré concretar ningún resultado sólido y quedé a la deriva de recursos, tanto
              financieros y endeudado. Debo aclarar que aprendí habilidades excepcionales de la educación otorgada y de
              gran relevancia en mi vida.</li>
          </ul>
        </li>

        <li class="mb-10 ms-6">
          <span
            class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
            <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
          </span>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-white dark:text-white">1998 a 2010
          </h3>
          <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">1998 ~ 2010</time>
          <ul class="list-disc m-3 text-gray-400 dark:text-gray-500">
            <li>Nací en Ezeiza, Ciudad de Buenos Aires, Argentina.</li>
            <li>A los 6 meses de nacido se me diagnosticó una hemiparesia derecha debido a problemas de parto, una
              discapacidad que afecta al 0.5 % de la población mundial.</li>
            <li>Desde mis primeros recuerdos hasta los 11 años pasé mucho tiempo en hospitales entre chequeos, estudios
              y rehabilitación.</li>
            <li>Tuve dos acontecimientos muy graves en los que estuve al borde de la muerte: una vez cuando me caí de
              una hamaca y me golpeé la cabeza contra el piso, lo que me provocó convulsiones, y otra vez cuando sufrí
              una apendicitis que requirió una operación de urgencia.</li>
            <li>Durante mi niñez y adolescencia, mis padres atravesaron una depresión económica muy fuerte, lo cual
              llevó a su separación y a vivir todo el proceso de peleas, discusiones y el dejarme a la deriva en plena
              adolescencia.</li>
          </ul>

        </li>

      </ol>

    </div>

    <!-- About me -->

    <!-- Business -->
    <div class="mx-auto max-w-2xl mb-20">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Adquiere tu plan ahora!</h1>
      </div>
    </div>

    <div class="grid justify-center gap-4 grid-flow-col mb-32 ">

      <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">$</span>
          <span class="text-5xl font-extrabold tracking-tight">49</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <li class="flex items-center">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">2 team
              members</span>
          </li>
          <li class="flex">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">20GB Cloud
              storage</span>
          </li>
          <li class="flex">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">Integration
              help</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">Sketch Files</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">API Access</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">Complete documentation</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">24×7 phone & email support</span>
          </li>
        </ul>
        <button type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
          plan</button>
      </div>

      <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">$</span>
          <span class="text-5xl font-extrabold tracking-tight">49</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <li class="flex items-center">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">2 team
              members</span>
          </li>
          <li class="flex">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">20GB Cloud
              storage</span>
          </li>
          <li class="flex">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">Integration
              help</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">Sketch Files</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">API Access</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">Complete documentation</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">24×7 phone & email support</span>
          </li>
        </ul>
        <button type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
          plan</button>
      </div>

      <div
        class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Standard plan</h5>
        <div class="flex items-baseline text-gray-900 dark:text-white">
          <span class="text-3xl font-semibold">$</span>
          <span class="text-5xl font-extrabold tracking-tight">49</span>
          <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
        </div>
        <ul role="list" class="space-y-5 my-7">
          <li class="flex items-center">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">2 team
              members</span>
          </li>
          <li class="flex">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">20GB Cloud
              storage</span>
          </li>
          <li class="flex">
            <svg class="flex-shrink-0 w-4 h-4 text-blue-700 dark:text-blue-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 dark:text-gray-400 ms-3">Integration
              help</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">Sketch Files</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">API Access</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">Complete documentation</span>
          </li>
          <li class="flex line-through decoration-gray-500">
            <svg class="flex-shrink-0 w-4 h-4 text-gray-400 dark:text-gray-500" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
            </svg>
            <span class="text-base font-normal leading-tight text-gray-500 ms-3">24×7 phone & email support</span>
          </li>
        </ul>
        <button type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center">Choose
          plan</button>
      </div>

    </div>
    <!-- Business -->

  </div>



  <!-- <footer class="bg-gradient-to-t from-transparent to-gray-900 text-white py-6">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
      <p>
        <a href="#" class="text-gray-400 hover:text-white">Política de privacidad</a> |
        <a href="#" class="text-gray-400 hover:text-white">Términos de servicio</a>
      </p>
    </div>
  </footer> -->
</div>